@import "tailwindcss";

@theme inline {
  --color-brand-red: #FD504F;
  --color-brand-dark: #12283F;
  --color-brand-blue: #0950a0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
